[submodule "backend"]
	path = backend
	url = https://github.com/MartinoMensio/MisinfoMe_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MartinoMensio/MisinfoMe_frontend.git
[submodule "credibility"]
	path = credibility
	url = https://github.com/MartinoMensio/credibility
[submodule "claimreview-collector"]
	path = claimreview-collector
	url = https://github.com/MartinoMensio/claimreview-collector.git
[submodule "frontend-v2"]
	path = frontend-v2
	url = https://github.com/MartinoMensio/misinfome-frontend-v2.git
[submodule "twitter-connector"]
	path = twitter-connector
	url = https://github.com/MartinoMensio/twitter-connector.git
