[submodule "backend"]
	path = backend
	url = git@github.com:MartinoMensio/misinformed_me_backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:MartinoMensio/misinformed_me_frontend.git
[submodule "datasets"]
	path = datasets
	url = git@github.com:MartinoMensio/misinformed_me_datasets.git
