[submodule "backend"]
	path = backend
	url = https://github.com/MartinoMensio/MisinfoMe_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MartinoMensio/MisinfoMe_frontend.git
[submodule "claimreview-scraper"]
	path = claimreview-scraper
	url = https://github.com/MartinoMensio/claimreview-scraper.git
